  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap');
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    font-family: 'Poppins',
        sans-serif;
}
  

.btn:focus {
    outline: none !important;
    box-shadow: none !important;
}

input:focus {
    outline: none !important;
    box-shadow: none !important;
}
.vh-150{
    max-height:150vh;       
}