

.menu-bars {
    margin-left: 2rem;
    font-size: 2rem;
    color: black;
}
.icon{
    position: absolute;
    left: 80%;
    top: 1.8rem;
    color: black;
}
.icon:hover{
    color: blue;

}

.nav-menu {  
    padding-top: 1.5rem; 
    background-color: #e8ffe8;
    width: 38%;
    height: 100vh;
    display: flex;
    justify-content: start;
    position: fixed;
    top: 0;
    
    left: -100%;
    transition: 850ms;
}

.nav-menu.active {
    left: 0;
    transition: 350ms;
    z-index: 10;
}
.nav-text {
  
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    height: 60px;
    color: rgba(51, 50, 50, 0.178);
    transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -moz-transition: all .3s ease;
    -ms-transition: all .3s ease;
    -o-transition: all .3s ease;
}

.nav-text  a{
    text-decoration: none;
    color: rgba(26, 25, 25, 0.829);
    font-size: 18px;
    width: 95%;
    height: 50%;
    display: flex;
    justify-content: start;
    align-items: center;
    padding: 12px 16px;
    border-radius: 4px;
   
}

.nav-text a:hover {
   color: #2b83f5;
    
}
